@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body, html {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}
body header{
  background-color: #83dc82;
  color: #FFF;
  height: 100px;
  padding: 25px;
  text-align: center;
}
.wrap {
  margin: 0 auto;
  width: 100%;
}
.searchBar {
  background-color: #83dc82;
/*   float: right; */
  width: 100%;
  /* position sticky */
  position: sticky;
  top: 0;
}
.searchBar input{
  background-color: #f8f9fa;
  height: 50px;
  border: 0px;
  color: #83DC82;
  padding-left: 25px;
}
.content {
  margin: 25px;
  display: block;
  background: #f8f9fa
  padding: 50px;
  text-align: justify;
  border-radius: 5px
}
