@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 20vh;
}
.section{
  position: absolute;
  left: 35%;
  display: block;
  background: #f8f9fa;
  margin: 10px 0px;
  padding: 50px;
  border-radius: 5px
}
.color-green{
  background-color: #83dc82;
  color: #FFF;
}
.text-green{
  color: #83dc82;
}
#fb-share-button {
background: #3b5998;
border-radius: 3px;
font-weight: 600;
padding: 5px 8px;
display: inline-block;
position: static;
color: white;
}
#google-sign-button {
background: #DDD;
border-radius: 3px;
font-weight: 600;
padding: 5px 8px;
display: inline-block;
position: static;
color: #222;
margin-top: 5px;
}
